body {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
#pageWrapper {
  width: 1157px;
}
body.fullwidth #pageWrapper {
  width: auto;
}
#nav,
#tabNaviation {
  overflow: hidden;
  height: 40.3px;
}
.hiddenTabContent {
  display: none;
}
ul.zTabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 31.2px;
  background-color: #5fbbd3;
  border-bottom: 1.3px solid #BAB3A1;
  padding-top: 9.1px;
  position: relative;
}
ul.currentSubTabs {
  background-color: #5fbbd3;
}
ul.zTabs li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
ul.zTabs a,
ul.zTabs span {
  display: block;
  line-height: 26px;
  padding-left: 19.5px;
  padding-right: 19.5px;
  border-left: 1.3px solid transparent;
  border-right: 1.3px solid transparent;
  -moz-border-radius-topleft: 7.8px;
  -moz-border-radius-topright: 7.8px;
  -webkit-border-top-left-radius: 7.8px;
  -webkit-border-top-right-radius: 7.8px;
  border-top-left-radius: 7.8px;
  border-top-right-radius: 7.8px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 15.6px;
}
ul.zTabs li a,
ul.zTabs li span {
  outline: none;
}
ul.zTabs li:hover a,
ul.zTabs li:hover span {
  background: #2c88a0;
  color: #ffffff;
  border: 1.3px solid #BAB3A1;
  border-bottom: none;
  height: 31.2px;
  cursor: pointer;
}
ul.zTabs li.disableHover:hover a,
ul.zTabs li.disableHover:hover span {
  background: none;
  color: #ffffff;
  border: 1.3px solid #BAB3A1;
  border-bottom: none;
  height: 31.2px;
}
.hiddenTab {
  display: none;
}
.overflowTab select {
  width: 93.6px;
}
ul.zTabs li.current a,
ul.zTabs li.current span,
ul.zTabs li.overflowCurrent a,
ul.zTabs li.overflowCurrent span {
  background: white;
  color: #fcc000;
  border: 1.3px solid #BAB3A1;
  border-bottom: none;
  height: 31.2px;
}
ul.zTabs li.currentWithSecondRow a,
ul.zTabs li.currentWithSecondRow span,
ul.zTabs li.overflowCurrentWithSecondRow a,
ul.zTabs li.overflowCurrentWithSecondRow span {
  background: #5fbbd3;
  color: #ffffff;
  border: 1.3px solid #BAB3A1;
  border-bottom: none;
  height: 31.2px;
}
ul.zTabs.row1 li.currentWithSecondRow a,
ul.zTabs.row1 li.currentWithSecondRow span,
ul.zTabs.row1 li.overflowCurrentWithSecondRow a,
ul.zTabs.row1 li.overflowCurrentWithSecondRow span {
  background: #37aac8;
}
ul.zTabs li.pending a {
  color: #b3b3b3;
}
ul.zTabs li a.closeTabButton,
ul.zTabs li span.closeTabButton {
  position: absolute;
  left: 20.8px;
  background: none;
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}
ul.zTabs li a.closeTabButton img,
ul.zTabs li span.closeTabButton img {
  margin-top: 6.5px;
}
ul.zTabs li a.closeTabText,
ul.zTabs li span.closeTabText {
  padding-left: 36.4px;
}
ul.zTabs li.disableHover a.closeTabButton,
ul.zTabs li.disableHover span.closeTabButton {
  display: none;
}
