body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#pageWrapper {
  width: 90%;
}
body.fullwidth #pageWrapper {
  width: auto;
}
#nav,
#tabNaviation {
  overflow: hidden;
  height: 49.6px;
}
.hiddenTabContent {
  display: none;
}
ul.zTabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 38.4px;
  background-color: #73c4d9;
  border-bottom: 1.6px solid #BAB3A1;
  padding-top: 11.2px;
  position: relative;
}
ul.currentSubTabs {
  background-color: #73c4d9;
}
ul.row1 {
  background: #73c4d9;
  background: -moz-linear-gradient(top,#d7eef4 0%,#a5d9e6 40%,#73c4d9 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d7eef4),color-stop(40%,#a5d9e6),color-stop(100%,#73c4d9));
  background: -webkit-linear-gradient(top,#d7eef4 0%,#a5d9e6 40%,#73c4d9 100%);
  background: -o-linear-gradient(top,#d7eef4 0%,#a5d9e6 40%,#73c4d9 100%);
  background: -ms-linear-gradient(top,#d7eef4 0%,#a5d9e6 40%,#73c4d9 100%);
  background: linear-gradient(to bottom,#d7eef4 0%,#a5d9e6 40%,#73c4d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@light-color',endColorstr='@color',GradientType=0);
}
ul.zTabs li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
ul.zTabs a,
ul.zTabs span {
  display: block;
  line-height: 32px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1.6px solid transparent;
  border-right: 1.6px solid transparent;
  -moz-border-radius-topleft: 9.6px;
  -moz-border-radius-topright: 9.6px;
  -webkit-border-top-left-radius: 9.6px;
  -webkit-border-top-right-radius: 9.6px;
  border-top-left-radius: 9.6px;
  border-top-right-radius: 9.6px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
ul.zTabs li a,
ul.zTabs li span {
  outline: none;
}
ul.zTabs li:hover a,
ul.zTabs li:hover span {
  background: #4bb3ce;
  color: #ffffff;
  border: 1.6px solid #BAB3A1;
  border-bottom: none;
  height: 38.4px;
  cursor: pointer;
}
ul.zTabs li.disableHover:hover a,
ul.zTabs li.disableHover:hover span {
  background: #73c4d9;
  color: #ffffff;
  border: 1.6px solid #BAB3A1;
  border-bottom: none;
  height: 38.4px;
}
.hiddenTab {
  display: none;
}
.overflowTab select {
  width: 115.2px;
}
ul.zTabs li.current a,
ul.zTabs li.current span,
ul.zTabs li.overflowCurrent a,
ul.zTabs li.overflowCurrent span {
  background: white;
  color: black;
  border: 1.6px solid #BAB3A1;
  border-bottom: none;
  height: 38.4px;
}
ul.zTabs li.currentWithSecondRow a,
ul.zTabs li.currentWithSecondRow span,
ul.zTabs li.overflowCurrentWithSecondRow a,
ul.zTabs li.overflowCurrentWithSecondRow span {
  background: ;
  color: #ffffff;
  border: 1.6px solid #BAB3A1;
  border-bottom: none;
  height: 38.4px;
}
ul.zTabs.row1 li.currentWithSecondRow a,
ul.zTabs.row1 li.currentWithSecondRow span,
ul.zTabs.row1 li.overflowCurrentWithSecondRow a,
ul.zTabs.row1 li.overflowCurrentWithSecondRow span {
  background: ;
}
ul.zTabs li.pending a {
  color: #b3b3b3;
}
ul.zTabs li a.closeTabButton,
ul.zTabs li span.closeTabButton {
  position: absolute;
  left: 25.6px;
  background: none;
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
ul.zTabs li a.closeTabButton img,
ul.zTabs li span.closeTabButton img {
  margin-top: 8px;
}
ul.zTabs li a.closeTabText,
ul.zTabs li span.closeTabText {
  padding-left: 44.8px;
}
ul.zTabs li.disableHover a.closeTabButton,
ul.zTabs li.disableHover span.closeTabButton {
  display: none;
}
