/*********
 ** zTabs LESS Stylesheet
 **
 ** Instructions
 *********/

/* Customizable Variables */
@one-em: 13px;
@default-font-size: @one-em * 1.2;
@header: #d7eef4; // base color from header
@text-color: #ffffff;
@tab-rows: 1;
@gradient: true; // true || false
@color-direction: 'darken'; // lighten || darken

/* Other Veraibles */
@bg: darken(@header,30%);
@row1-bg: darken(@header,40%);
@row2-bg: darken(@header,60%);
@hover-bg: darken(@header,50%);
@pending-color: darken(@hover-color, 30%);
@hover-color: lighten(@text-color, 90%);
@border: #BAB3A1;
@row-height: @one-em * 2.4;
@default-border: (@one-em * .1) solid @bg;

/* Gradient Colors */
@color: @row1-bg;
@mid-color: darken(@header,20%);
@light-color: @header;

// Default styles that are used throughout
@default-tab-padding: @one-em * 1.5;
.default-tab-border (@bg) {
	border-left: @default-border;
	border-right: @default-border;
}
@default-border-radius: @one-em * .6;

// Three stop color gradient
.three-step-gradient() when (@gradient = true) {
	background: @color; /* Old browsers */
	background: -moz-linear-gradient(top, @light-color 0%, @mid-color 40%, @color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@light-color), color-stop(40%,@mid-color), color-stop(100%,@color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @light-color 0%,@mid-color 40%,@color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @light-color 0%,@mid-color 40%,@color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @light-color 0%,@mid-color 40%,@color 100%); /* IE10+ */
	background: linear-gradient(to bottom, @light-color 0%,@mid-color 40%,@color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@light-color', endColorstr='@color',GradientType=0 ); /* IE6-9 */
}

// Basic tab style to be used below
.basic-tab (@bg: @bg, @color: @text-color) {
	background: @bg;
	color: @color;
	border: @one-em * .1 solid @border;
	border-bottom: none;
	height: @row-height;
}

/********
 * BODY
 ********/
body {
	font-size: @one-em;
	margin:0;
	padding:0;
}

/********
 * PAGE WIDTH
 ********/

// K: does this need to be set elsewhere, like up above?
#pageWrapper {
	width: @one-em * 89;
}
body.fullwidth #pageWrapper {
	width:auto;
}

// K: I am adding both since I like #nav better. 
#nav, #tabNaviation {
	overflow: hidden;
	// K: make the height of the nav area flexible to the number of 
	// rows. kinda clunky cuz you have to edit it yourself. not 
	// sure a better way yet.
	height: @tab-rows * (@row-height + (@one-em * .7));
}

/********
 * HIDDEN CONTENT
 ********/
.hiddenTabContent {
	display:none;
}

/********
 * ROW STYLES
 ********/
ul.zTabs {
	list-style-type: none;
	margin:0;
	padding:0;
	float:left;
	width:100%;
	height: @row-height;
	background-color: @bg;
	border-bottom: @one-em * .1 solid @border; 
	padding-top: @one-em * .7;
	position:relative;
}

ul.currentSubTabs { 
	background-color: @bg; 
}

ul.row1 {
	.three-step-gradient();
} 
ul.row2,
ul.row3, 
ul.row4, 
ul.row5 { /* Not currently being used */ }


/********
 * DEFAULT TAB STYLES
 ********/
ul.zTabs li {
	margin: 0;
	padding: 0;
	float: left;
	position:relative;
}

ul.zTabs a,
ul.zTabs span {
	display: block;
	line-height: @one-em * 2;
	padding-left: @default-tab-padding;
	padding-right: @default-tab-padding;
	.default-tab-border (transparent);

	/* Rounded corners */
	-moz-border-radius-topleft: @default-border-radius;
	-moz-border-radius-topright: @default-border-radius;
	-webkit-border-top-left-radius: @default-border-radius;
	-webkit-border-top-right-radius: @default-border-radius;
	border-top-left-radius: @default-border-radius;
	border-top-right-radius: @default-border-radius;

	/* Font stuff */
	text-align: center;
	color: @text-color;
	text-decoration: none;
	font-size: @default-font-size;		
}

ul.zTabs li a,
ul.zTabs li span {
	outline:none;
}

/********
 * HOVER TABS
 ********/
ul.zTabs li:hover a,
ul.zTabs li:hover span {
	.basic-tab (@hover-bg, @hover-color);
	cursor:pointer;
}

ul.zTabs li.disableHover:hover a,
ul.zTabs li.disableHover:hover span {
	.basic-tab (none);
}

/*******
 * OVERFLOW TAB STYLES
 *******/
.hiddenTab {
	display: none;
}

.overflowTab select {
	width: @one-em * 7.2;
}

/*******
 * CURRENT TAB (NO SUBROWS)
 *******/
ul.zTabs li.current a,
ul.zTabs li.current span,
ul.zTabs li.overflowCurrent a,
ul.zTabs li.overflowCurrent span {
	.basic-tab(white,#fcc000);
}

/*******
 * CURRENT TAB (WITH SUBROWS)
 *******/
ul.zTabs li.currentWithSecondRow a,
ul.zTabs li.currentWithSecondRow span,
ul.zTabs li.overflowCurrentWithSecondRow a,
ul.zTabs li.overflowCurrentWithSecondRow span {
	.basic-tab;
}

ul.zTabs.row1 li.currentWithSecondRow a,
ul.zTabs.row1 li.currentWithSecondRow span,
ul.zTabs.row1 li.overflowCurrentWithSecondRow a,
ul.zTabs.row1 li.overflowCurrentWithSecondRow span {
	background: @row1-bg;
}

/********
 * PENDING TABS
 ********/
ul.zTabs li.pending a {
	color: @pending-color;
}

/*******
 * CLOSE BUTTON STYLES
 *******/
ul.zTabs li a.closeTabButton,
ul.zTabs li span.closeTabButton {
	position:absolute;
	left: @one-em * 1.6;
	background: none;
	padding-left: 0;
	padding-right: 0;
	border-left: none;
	border-right: none;

	/* Also turn off rounded corners. */
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
}

ul.zTabs li a.closeTabButton img,
ul.zTabs li span.closeTabButton img {
	margin-top: @one-em * .5;
}

ul.zTabs li a.closeTabText,
ul.zTabs li span.closeTabText {
	padding-left: @one-em * 2.8;
}

ul.zTabs li.disableHover a.closeTabButton,
ul.zTabs li.disableHover span.closeTabButton {
	display:none;
}